.App {
  margin: 20px;
  max-width: 600px;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

h1 {
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 113, 69);
}
p {
  text-align: start;
  color: white;
}

.name {
  color: whitesmoke;
}

.emoji {
  font-size: 100px;
}
.temperature {
  font-family: "Roboto Mono", monospace;
  font-size: 75px;
}

.current {
  list-style: none;
  margin-left: -30px;
  margin-top: 15px;
  text-transform: capitalize;
}

.type {
  list-style: none;
  margin-left: -10px;
  margin-top: 40px;
}
.units a {
  text-decoration: none;
  color: black;
  cursor: default;
}

.fahrenheit a {
  color: black;
  cursor: default;
}
